<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ssm.mapper.EmployeeMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <sql id="employeeColumns">emp_no,birth_date,first_name,last_name,gender,hire_date</sql>

    <insert id="insertMoreEmployee">
        insert into employees(emp_no, birth_date, first_name, last_name, gender,hire_date)
        values
        <foreach collection="list" item="i" separator=",">
            (#{i.empNo},#{i.birthDate},#{i.firstName},#{i.lastName},#{i.gender},#{i.hireDate})
        </foreach>
    </insert>

    <delete id="deleteMoreEmployee">
        delete
        from employees
        <where>
            <foreach collection="ids" item="id" separator="," open="emp_no in (" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="getAll" resultType="Employee">
        select
        <include refid="employeeColumns"/>
        from employees limit 0,10
    </select>
    
    <select id="getEmployeeByCondition" resultType="Employee">
        select * from employees
        <where>
            <if test="birthDate != null">
                birth_date = #{birthDate}
            </if>
            <if test="firstName != null">
                and first_name = #{firstName}
            </if>
            <if test="lastName != null">
                and last_name = #{lastName}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="hireDate != null">
                and hire_date = #{hireDate}
            </if>
        </where>

    </select>
</mapper>
